// Цвета
$bg-color-main: #F8F8F8;
$bg-color-header: #FFFFFF;
$text-color: #1B1C21;
$text-color-lighter: #7E7E82;
$bg-color-btn: #FF3E79;
$bg-color-btn-hover: #7f92ef;
$bg-color-devider: #EAEAEA;
$hightlight-color: #41F6D7;
$border-color-mint: #B8FFEC;
$section-devider-color: #D9FFF5;
$color-light-grey: #DDDDDD;
$color-grey: #B5B6BC;

//Шрифты
$font-regular: "TT Lakes Regular", "Arial", sans-serif;
$font-medium: "TT Lakes Medium", "Arial", sans-serif;
$font-bold: "TT Lakes Bold", "Arial", sans-serif;
